.search-input {
  background-image: none!important;
  border: none!important;
  display: block !important;
}
div#settings .column.table-buttons.is-one-third-desktop.is-half-tablet.has-text-right-tablet.has-text-centered-mobile.has-padding-small {
  display: none !important;
}